<section class="modal-content">
  <div class="modal">
    <div class="modal-head">
      <i class="material-icons md-24">warning</i>
      <h3>Deseja remover ?</h3>
      <p>{{teacher.name}}</p>
    </div>
    <div class="modal-body">
      <form class="form-delete" method="POST" action="/teachers?_method=DELETE">
        <input
          value={{teacher.id}}
          type="hidden" 
          name="id" 
        >
        <a class="btn cancel-inline" href="#">
          <i class="material-icons md-18">clear</i>
          <span>Cancelar</span>
        </a>
        <button class="btn delete-inline" type="submit">
          <i class="material-icons md-18">delete_sweep</i>
          <span>Deletar</span>
        </button>
      </form>
    </div>
  </div>
</section>


<script src="/assets/js/delete.js"></script>
