{% extends "layout.njk" %}

{% block header %}
    <header class="header">
      <nav class="links">
        <a href="/">Voltar</a>
      </nav>
    </header>
{% endblock %}

{% block content %}
  <section>
    <img class="error404" src="assets/svg/404error.svg" alt="Página não encontrada 404">
  </section>
{% endblock %}
