<!DOCTYPE html>
<html lang="pt-BR">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="shortcut icon" href="favicon.ico" type="image/x-icon">
  {% block head %}
    <title>TR3VISAN</title>
  {% endblock %}
  <link rel="stylesheet" href="assets/css/styles.css">
</head>

<body>

  <header class="header">
    <nav class="links">
      <a href="/">About</a>
      <a href="/portfolio">Portfólio</a>
    </nav>
  </header>

  <main>
    {% block content %} {% endblock %}
  </main>

  <footer class="footer">
    <p>Development by tr<span class="tr3">3</span>visan</p>
  </footer>
  
</body>
</html>