{% extends "layout.njk" %}

{% block head %}
  <title>TR3VISAN - Portfólio</title>
  <link rel="stylesheet" href="https://fonts.googleapis.com/icon?family=Material+Icons">
{% endblock %}

{% block content %}
  <section class="wrapper">
    <h1>Portfólio</h1>
  </section>

  <section class="cards">

    {% for item in items %}
      
      <div class="card" id="{{ item.id }}">
        <div class="card__img-container {{ 'featured' if item.featured }}">
          <img src="{{ item.source }}" alt="Imagem de {{ item.title }}">
          {% if item.featured %}
            <div class="featured-icon">Featured</div>
          {% endif %}
        </div>
        <div class="card__content">
          <p>{{ item.title }}</p>
        </div>
        <div class="card__info">
          <p>{{ item.duration }}</p>
          <p class="card__price">{{ item.price }}</p>
        </div>
      </div>

    {% endfor %}

  </section>

  <script src="assets/js/script.js"></script>
{% endblock %}
