{% extends "layout.njk" %}

{% block style %}
  <link rel="stylesheet" href="/assets/css/not-found.css">
{% endblock %}

{% block content %}
  <section class="container">
    <img src="/assets/svg/error404.svg" alt="Erro 404">
  </section>
{% endblock %}

{% block footer %}
  <footer class="footer" data-class="not-found">
    <p>Todos os direitos reservados, receitas Foodfy</p>
  </footer>
{% endblock %}
