{% extends "layout.njk" %}

{% block style %}
  <link rel="stylesheet" href="/assets/css/sobre.css">
{% endblock %}

{% block content %}

  <section class="sobre container">
    <ul>
      <li>
        <h1>Sobre o Foodfy <img class="icon-cheff" src="assets/svg/icon-cheff-hat.svg" alt="Icon Cheff"></h1>
        <p>Lorem ipsum dolor, sit amet consectetur adipisicing elit. Quo aperiam exercitationem, inventore voluptatum earum alias eveniet reiciendis numquam, quasi perspiciatis tempora ducimus facere in. Laudantium corrupti vero et facilis soluta.</p>
        <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Iure, esse non. Sint, culpa impedit iure accusamus at sit odit ducimus repudiandae modi sequi. Atque incidunt omnis quam nostrum error. Debitis!</p>
      </li>
      <li>
        <h2>Como tudo começou...</h2>
        <p>Lorem ipsum dolor, sit amet consectetur adipisicing elit. Quo aperiam exercitationem, inventore voluptatum earum alias eveniet reiciendis numquam, quasi perspiciatis tempora ducimus facere in. Laudantium corrupti vero et facilis soluta.</p>
        <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Iure, esse non. Sint, culpa impedit iure accusamus at sit odit ducimus repudiandae modi sequi. Atque incidunt omnis quam nostrum error. Debitis!</p>
      </li>
      <li>
        <h2>Nossas receitas</h2>
        <p>Lorem ipsum dolor, sit amet consectetur adipisicing elit. Quo aperiam exercitationem, inventore voluptatum earum alias eveniet reiciendis numquam, quasi perspiciatis tempora ducimus facere in. Laudantium corrupti vero et facilis soluta.</p>
        <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Iure, esse non. Sint, culpa impedit iure accusamus at sit odit ducimus repudiandae modi sequi. Atque incidunt omnis quam nostrum error. Debitis!</p>
      </li>
    </ul>
  </section>
  
{% endblock %}

{% block footer %}
  <footer class="footer" data-class="sobre">
    <p>Todos os direitos reservados, receitas Foodfy</p>
  </footer>
{% endblock %}
