{% extends "layout.njk" %}

{% block title %}
  <title>ADM School - Editando</title>
{% endblock %}

{% block content %}
  <section class="container">
    <div class="card">
      <div class="avatar">
        <img src="{{teacher.avatar_url}}" alt="">
      </div>
      <div class="details">
        <form method="POST" action="/teachers?_method=PUT">
          <h2 class="h2">Editar Professor</h2>

          {% include "teachers/fields.njk" %}

          <input
            value="{{teacher.id}}"
            type="hidden" 
            name="id" 
          >
        </form>
      </div>
    </div>
  </section>

{% include "includes/modal-teachers.njk" %}

{% endblock %}

